[appliedStereotypes~="Asset"]{
	maintainSymbolRatio:false;
    displayBorder:false;
    displayName:true;
    followSVGSymbol:true;
    shapeVisibility:true;
    leftMarginLabel:25;
}

[appliedStereotypes~="DeliberateThreat"]{
	maintainSymbolRatio:false;
    displayBorder:false;
    displayName:true;
    followSVGSymbol:true;
    shapeVisibility:true;
    leftMarginLabel:18;
}

[appliedStereotypes~="AccidentalThreat"]{
	maintainSymbolRatio:false;
    displayBorder:false;
    displayName:true;
    followSVGSymbol:true;
    shapeVisibility:true;
    leftMarginLabel:18;
}

[appliedStereotypes~="NonHumanThreat"]{
	maintainSymbolRatio:false;
    displayBorder:false;
    displayName:true;
    followSVGSymbol:true;
    shapeVisibility:true;
    leftMarginLabel:20;
}

[appliedStereotypes~=NewMessage]{
	maintainSymbolRatio:false;
    displayBorder:false;
    displayName:true;
    followSVGSymbol:true;
    shapeVisibility:true;
}

[appliedStereotypes~=AlteredMessage]{
	maintainSymbolRatio:false;
    displayBorder:false;
    displayName:true;
    followSVGSymbol:true;
    shapeVisibility:true;
}

[appliedStereotypes~=UnwantedIncident]{
	maintainSymbolRatio:false;
    displayBorder:false;
    displayName:true;
    followSVGSymbol:true;
    shapeVisibility:true;
}

[appliedStereotypes~=DeletedMessage]{
	maintainSymbolRatio:false;
    displayBorder:false;
    displayName:true;
    followSVGSymbol:true;
    shapeVisibility:true;
}